/* src/InstructionPage.css */
.instruction_page {
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    background-color: #3498db; /* Blue shade */
    color: #fff; /* White text */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .instruc_heading {
    color: #fff; /* White heading text */
    text-align: center;
  }
  
  .instruc_lists {
    padding-left: 20px;
  }
  
  .instruc_listItems {
    margin-bottom: 8px;
  }
  