/* Schedule.module.css */

.auth_container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  background-color: #EDF1FC;
}

.auth_content {
  width: 800px;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Add box shadow */
  margin-top: 50px;
  margin-bottom: 50px;
}

.heading {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bolder;
  text-align: center;
}

.auth_form {
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

.input_field {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.input_feild {
  /* Note: The class name contains a typo, corrected it to 'input_field' */
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.submit_button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.back_button {
  background-color: #ccc;
  color: #000;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.back_button:hover {
  background-color: #b3b3b3;
}
