/* RoleSelect.module.css */

/* Styles for the header */
.header2 {
  background-color: #222;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header2 img {
  width: 50px;
  cursor: pointer;
}

/* Styles for the main container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 90vh;
  /* background-color: red; */
  background: linear-gradient(to right, #ECF2FF, #FBFCFF);
}

.content {
  display: flex;
  align-items: stretch; /* Make the image and form container have the same height */
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Add box shadow */
}


/* Styles for the image */
.auth_image {
  flex: 1;
  padding: 20px;
}

.auth_image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Styles for the page container */
.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;

  flex: 1;
  max-width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
}

/* Styles for the hero section */
.hero {
  text-align: center;
}

.hero h1 {
  font-size: 30px;
  margin-bottom: 10vh;
}

/* Styles for the login buttons */
.login {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin: 10px;
  transition: background-color 0.3s;
}

.login:hover {
  background-color: #0056b3;
}
